body {
  text-align: center;
  background-color: #b983ff;
  font-family: "Permanent Marker", cursive;
}
h1 {
  color: #3db2ff;
}
h3,
p, 
.safe {
  color: white;
}
table {
  table-layout: fixed;
  margin: auto;
  background-color: skyblue;
  max-width: 550px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container {
  background-color: #94b3fd;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
  width: 300px;
  transition: 1s;
}

.cell {
  display: table-cell;
  font-size: 15px;
  padding: 5px;
  height: 20px;
  width: 20px;
  background-color: #99feff;
  cursor: pointer;
  transition: 1s;
}

.cell:hover {
  border: 1px solid white;
  background-color: #cab8ff;
}

.hidden {
  background-color: #3db2ff;
  height: 20px;
  width: 20px;
}

.modal {
  width: 200px;
  background-color: #94b3fd;
  display: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px 0px;
  text-align: center;
}

button {
  cursor: pointer;
  color: white;
  border: none;
  padding: 7px;
  margin-left: 10px;
  transition: 0.2s;
}

.easy {
  background-color: lime;
  border-radius: 10px;
}

.medium {
  background-color: gold;
  border-radius: 10px;
}

.hard {
  background-color: tomato;
  border-radius: 10px;
}
.levels:hover {
  background-color: royalblue;
}
.smiley {
  padding: 5px;
  font-size: 25px;
  background-color: #986d8e;
  transition: 0.5s;
  margin-bottom: 15px;
}

.smiley:hover {
  background-color: royalblue;
}

.safebtn {
  margin-top: 15px;
  background-color: #986d8e;
  border-radius: 10px;
}

.safebtn:hover {
  background-color: #b983ff;
}

.time {
  margin-top: 15px;
  color: white;
}

header {
  background-color: #b5eaea;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
